#Eclipse project files
.metadata/
.metricsapp/
.metricsapp-tests/
.JETEmitters/
#Build targets
bin/
target/
#Report directories
/reports
*/reports
#Mac-specific directory that no other operating system needs.
.DS_Store
.idea
#Misc
bundles/com.e1c.edt.ai.ui/.settings
bundles/com.e1c.edt.ai/.settings