<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension
            point="org.eclipse.ui.views">
        <category
                id="org.e1c.edt.ai.ui"
                name="%category.name"
                parentCategory="com._1c.g5.v8.dt.ui.v8category">
        </category>
        <view
                category="org.e1c.edt.ai.ui"
                class="org.e1c.edt.ai.ui.ChatView"
                icon="icons/obj16/chatbot.png"
                id="org.e1c.edt.ai.ui.views.ChatView"
                inject="true"
                name="%view.name">
        </view>
    </extension>

    <extension
            point="org.eclipse.ui.perspectiveExtensions">
        <perspectiveExtension
                targetID="*">
            <view
                    id="org.e1c.edt.ai.ui.views.ChatView"
                    relationship="stack"
                    relative="org.eclipse.ui.views.PropertySheet">
            </view>
        </perspectiveExtension>
    </extension>

    <extension
            point="org.eclipse.ui.quickAccess">
        <computer
                class="org.e1c.edt.ai.ui.quickaccess.AskAIQuickAccessComputer"
                name="%computer.name">
        </computer>
    </extension>

    <extension
            point="org.eclipse.ui.commands">
        <category
                id="org.e1c.edt.ai.ui.commands.category.ai"
                name="%category.name">
        </category>
        <command
                categoryId="org.e1c.edt.ai.ui.commands.category.ai"
                id="org.e1c.edt.ai.ui.commands.suggest.ai"
                name="%command.name.suggest">
        </command>
        <command
                categoryId="org.e1c.edt.ai.ui.commands.category.ai"
                id="org.e1c.edt.ai.ui.commands.accept.ai"
                name="%command.name.accept">
        </command>
        <command
                categoryId="org.e1c.edt.ai.ui.commands.category.ai"
                id="org.e1c.edt.ai.ui.commands.acceptpart.ai"
                name="%command.name.acceptpart">
        </command>
        <command
                categoryId="org.e1c.edt.ai.ui.commands.category.ai"
                id="org.e1c.edt.ai.ui.commands.rollbackpart.ai"
                name="%command.name.rollbackpart">
        </command>
        <command
                categoryId="org.e1c.edt.ai.ui.commands.category.ai"
                id="org.e1c.edt.ai.ui.commands.stop.ai"
                name="%command.name.stop">
        </command>
        <command
                categoryId="org.e1c.edt.ai.ui.commands.category.ai"
                id="org.e1c.edt.ai.ui.commands.explain.ai"
                name="%command.name.explain">
        </command>
        <command
                categoryId="org.e1c.edt.ai.ui.commands.category.ai"
                id="org.e1c.edt.ai.ui.commands.criticise.ai"
                name="%command.name.critic">
        </command>
        <command
                categoryId="org.e1c.edt.ai.ui.commands.category.ai"
                id="org.e1c.edt.ai.ui.commands.fixcode.ai"
                name="%command.name.fixcode">
        </command>
        <command
                categoryId="org.e1c.edt.ai.ui.commands.category.ai"
                id="org.e1c.edt.ai.ui.commands.generatedoccomments.ai"
                name="%command.name.generatedoccomments">
        </command>
        <command
                id="org.e1c.edt.ai.ui.inlinedAnnotations.ai"
                name="Аннотации">
        </command>
    </extension>

    <extension point="org.eclipse.ui.bindings">
        <key sequence="Shift+Space"
             commandId="org.e1c.edt.ai.ui.commands.suggest.ai"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
        <key sequence="Alt+I E"
             commandId="org.e1c.edt.ai.ui.commands.explain.ai"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
        <key sequence="Alt+I R"
             commandId="org.e1c.edt.ai.ui.commands.criticise.ai"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
        <key sequence="Alt+I F"
             commandId="org.e1c.edt.ai.ui.commands.fixcode.ai"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
        <key sequence="Alt+I G"
             commandId="org.e1c.edt.ai.ui.commands.generatedoccomments.ai"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
        <key sequence="Tab"
             commandId="org.e1c.edt.ai.ui.commands.accept.ai"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
        <key sequence="ARROW_RIGHT"
             commandId="org.e1c.edt.ai.ui.commands.acceptpart.ai"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
        <key sequence="ARROW_LEFT"
             commandId="org.e1c.edt.ai.ui.commands.rollbackpart.ai"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
        <key sequence="ESC"
             commandId="org.e1c.edt.ai.ui.commands.stop.ai"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
    </extension>

    <extension
            point="org.eclipse.ui.handlers">
        <handler
                class="org.e1c.edt.ai.ui.handlers.ExplainAIHandler"
                commandId="org.e1c.edt.ai.ui.commands.explain.ai">
        </handler>
        <handler
                class="org.e1c.edt.ai.ui.handlers.CriticiseAIHandler"
                commandId="org.e1c.edt.ai.ui.commands.criticise.ai">
        </handler>
        <handler
                class="org.e1c.edt.ai.ui.handlers.FixCodeAIHandler"
                commandId="org.e1c.edt.ai.ui.commands.fixcode.ai">
        </handler>
        <handler
                class="org.e1c.edt.ai.ui.handlers.GenerateDocCommentsAIHandler"
                commandId="org.e1c.edt.ai.ui.commands.generatedoccomments.ai">
        </handler>        
    </extension>

    <extension
            point="org.eclipse.ui.menus">
        <menuContribution
                allPopups="false"
                locationURI="popup:org.e1c.edt.ai.ui.groupMenu?after=additions">
            <command
                    commandId="org.e1c.edt.ai.ui.commands.explain.ai"
                    icon="icons/obj16/teach.png"
                    id="org.e1c.edt.ai.ui.commands.explain.ai.id"
                    label="%command.label.explain"
                    style="push">
            </command>
            <command
                    commandId="org.e1c.edt.ai.ui.commands.criticise.ai"
                    icon="icons/obj16/feedback.png"
                    id="org.e1c.edt.ai.ui.commands.criticise.ai.id"
                    label="%command.label.critic"
                    style="push">
            </command>
            <command
                    commandId="org.e1c.edt.ai.ui.commands.fixcode.ai"
                    icon="icons/obj16/bug.png"
                    id="org.e1c.edt.ai.ui.commands.fixcode.ai.id"
                    label="%command.label.fixcode"
                    style="push">
            </command>
            <command
                    commandId="org.e1c.edt.ai.ui.commands.generatedoccomments.ai"
                    icon="icons/obj16/docs.png"
                    id="org.e1c.edt.ai.ui.commands.generatedoccomments.ai.id"
                    label="%command.label.generatedoccomments"
                    style="push">
            </command>
        </menuContribution>
        <menuContribution
                allPopups="false"
                locationURI="popup:#BslEditorContext?endof=group.open">
            <menu
                    icon="icons/obj16/ai.png"
                    id="org.e1c.edt.ai.ui.groupMenu"
                    label="%menu.label">
                <separator
                        name="groupMenuSeparator">
                </separator>
            </menu>
        </menuContribution>
        <menuContribution
                allPopups="false"
                locationURI="popup:xtext.embedded.editor">
            <menu
                    id="org.e1c.edt.ai.ui.groupMenu"
                    label="%menu.label">
                <separator
                        name="groupMenuSeparator">
                </separator>
            </menu>
        </menuContribution>
        
    </extension>
    
    <extension
            point="org.eclipse.ui.startup">
        <startup
                class="org.e1c.edt.ai.ui.PluginStartup">
        </startup>
    </extension>
    
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
                class="org.e1c.edt.ai.ui.preferences.ClientAIPreferencePage"
                id="org.e1c.edt.ai.ui.clientPrefs"
                name="%page.name">
        </page>
    </extension>

    <extension
            point="org.eclipse.core.runtime.preferences">
        <initializer
                class="org.e1c.edt.ai.ui.preferences.ClientAIPreferencePageInitializer">
        </initializer>
    </extension>    

</plugin>
